body{
background-color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

#search{
    border-radius: 30px;
    outline: none;
    padding: 30px;
    border: none;
    background-color: #f5f3f0;
    box-shadow: inset 1px -1px 0px 42px #ffffff90, inset 0px -2px 6px #00000020;
}

.card .img-fluid{
    border-radius: 10px;
    height: 200px;
}


.card{
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgb(255, 255, 255) 2px 2px 10px inset, rgba(0, 66, 115, 0.125) -2px -1px 4px inset;
}

/*------------------for tablet view------------------*/

@media (min-width: 700px) and (max-width: 1024px){
    .col{
        display: grid;
        grid-gap:  3rem;
        grid-template-columns: repeat(2, 2fr);
        margin: auto;


    }
    .img-fluid{
        height: 200px;
    }

}

/*--------------for laptop screen---------------*/

@media (min-width: 1025px) and (max-width: 1440px){
    .col{
        display: grid;
        grid-gap:  1rem;
        grid-template-columns: repeat(4, 2fr);
        margin: auto;


    }
    .img-fluid{
        height: 200px;
    }
    .card{
    }
}
@media (min-width: 1441px) {
    .card{
        width: 700px;
        margin: auto;
    }
    .card .img-fluid{
        height: 300px;
    }
}